Community Standards
INTRODUCTION

Every day, people use Facebook to share their experiences, connect with friends and family, and build communities. We are a service for more than two billion people to freely express themselves across countries and cultures and in dozens of languages.

We recognize how important it is for Facebook to be a place where people feel empowered to communicate, and we take seriously our role in keeping abuse off our service. That’s why we’ve developed a set of Community Standards that outline what is and is not allowed on Facebook. Our policies are based on feedback from our community and the advice of experts in fields such as technology, public safety and human rights. To ensure that everyone’s voice is valued, we take great care to craft policies that are inclusive of different views and beliefs, in particular those of people and communities that might otherwise be overlooked or marginalized.

REITERATING OUR COMMITMENT TO VOICE

The goal of our Community Standards has always been to create a place for expression and give people a voice. This has not and will not change. Building community and bringing the world closer together depends on people’s ability to share diverse views, experiences, ideas and information. We want people to be able to talk openly about the issues that matter to them, even if some may disagree or find them objectionable. In some cases, we allow content which would otherwise go against our Community Standards – if it is newsworthy and in the public interest. We do this only after weighing the public interest value against the risk of harm and we look to international human rights standards to make these judgments.

Our commitment to expression is paramount, but we recognize the internet creates new and increased opportunities for abuse. For these reasons, when we limit expression, we do it in service of one or more the following values:

Authenticity: We want to make sure the content people are seeing on Facebook is authentic. We believe that authenticity creates a better environment for sharing, and that’s why we don’t want people using Facebook to misrepresent who they are or what they’re doing.

Safety: We are committed to making Facebook a safe place. Expression that threatens people has the potential to intimidate, exclude or silence others and isn’t allowed on Facebook.

Privacy: We are committed to protecting personal privacy and information. Privacy gives people the freedom to be themselves, and to choose how and when to share on Facebook and to connect more easily.

Dignity: We believe that all people are equal in dignity and rights. We expect that people will respect the dignity of others and not harass or degrade others.

Our Community Standards apply to everyone, all around the world, and to all types of content. They’re designed to be comprehensive – for example, content that might not be considered hateful may still be removed for violating a different policy. We recognize that words mean different things or affect people differently depending on their local community, language, or background. We work hard to account for these nuances while also applying our policies consistently and fairly to people and their expression. In the case of certain policies, we require more information and/or context to enforce in line with our Community Standards.

People can report potentially violating content, including Pages, Groups, Profiles, individual content, and comments. We also give people control over their own experience by allowing them to block, unfollow or hide people and posts.

The consequences for violating our Community Standards vary depending on the severity of the violation and the person's history on the platform. For instance, we may warn someone for a first violation, but if they continue to violate our policies, we may restrict their ability to post on Facebook or disable their profile. We also may notify law enforcement when we believe there is a genuine risk of physical harm or a direct threat to public safety.

Our Community Standards are a guide for what is and isn’t allowed on Facebook. It is in this spirit that we ask members of the Facebook community to follow these guidelines.

Please note that the English version of the Community Standards reflects the most up to date set of the policies and should be used as the master document.

// bellow is contennt with hyperlink and seprate page
Introduction
I.
Violence and Criminal Behavior
II.
Safety
III.
Objectionable Content
IV.
Integrity and Authenticity
V.
Respecting Intellectual Property
VI.
Content-Related Requests
Additional Information