
<div>
<!-- <a href='#'>Event</a><br>
<a href='#'>Community</a><br>
<a href='#'>Friends</a><br>
<a href='#'>Saved Post</a><br>
<a href='#'>Support</a><br>
<a href='#'>Setting & Privacy</a><br> -->

</div>

<div class="leftcolumn"">
    <div class="card">
      <!-- <h2>About Me</h2> -->
      <!-- <div class="fakeimg" style="height:400px;">Image</div> -->
      <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p> -->
      <div class="row">
	      <nav class="col-sm-3 col-4" id="myScrollspy">
	        <ul class="nav nav-pills flex-column">
	          <li class="nav-item">
	            <a class="nav-link active" href="{% url 'event:event_list' %}">Event</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'community:community_list' %}">Community</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'community:community_list' %}">Friends</a>
			  </li>
			  <li class="nav-item">
	            <a class="nav-link" href="#section1">Saved Post</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#section2">Support</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#section3">Setting & Privacy</a>
	          </li>
	          <!-- <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Section 4</a>
	            <div class="dropdown-menu">
	              <a class="dropdown-item" href="#section41">Link 1</a>
	              <a class="dropdown-item" href="#section42">Link 2</a>
	            </div>
	          </li> -->
	        </ul>
	      </nav>
  	  </div>
    </div>
<!--     <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div> -->
</div>